<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Employees:</strong>
  <p><%= if @company.contacts.count == 0; "No Employees" end %></p>
  <% @company.contacts.each do |contact| %>
      <p><%= contact.full_name %></p>
  <% end %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
